div.switch {
  padding: 50px 20px;
}

div.switch button {
  margin: 10px 10px 0 0;
  padding: 10px 20px;
  border: 1px dotted lightcyan;
}

/* Theme styles */

div.light {
  background-color: antiquewhite;
}

div.light h2,
div.light h4 {
  color: brown;
}

div.dark {
  background-color: rgb(49, 49, 49);
}

div.dark h2,
div.dark h4 {
  color: rgb(206, 206, 206);
}